@model IEnumerable<Dez.Models.Venda>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Vendas</h1>

<p>
    <a asp-action="Create">Nova venda</a>
    <a asp-area="" asp-controller="Consulta" asp-action="VndC">Listagem por remédio</a>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.farmaceutico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qntd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.farmaceutico.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.produto.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cliente.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qntd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
